

@import "swiper/css/bundle";     


@import '../../public/assets/css/plugins/bootstrap.min.css';
@import '../../public/assets/css/plugins/fontawesome.min.css';
@import '../../public/assets/css/plugins/lightgallery.min.css';

@import '../../public/assets/sass/style.scss';